.header {
  @include flexContainer(row, center, space-between);
  padding: 24px 12px 0 12px;
 
  .search {
    display: none;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 24px;
  }

   @include onTablet {
    padding: 24px 48px 0 48px;

    .search {
      display: block;
    }
  }

   @include onLaptop {
    padding: 0 0 0 32px;
  }
}
