.pageSelect {
  border-radius: 24px;
  background-color: $white;

  .head {
    @include flexContainer(row, center, space-between);
    padding: 12px 12px 12px 24px;
    font-weight: 700;
  }

  .list {
    border-top: 1px solid $grey-9;
    padding: 12px;
  }

  .openList {
    display: block;
  }

  .hiddenList {
    display: none;
  }

  .item {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
  }

  .active {
    background-color: $grey-5;
  }

  .name {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .date {
    font-size: 12px;
    color: $grey-10;
  }

  .placeholder {
    padding: 12px;
    color: $grey-10;
    text-align: center;
  }

  @include onLaptop {
    .laptopHidden {
      display: none;
    }
    .hiddenList {
      display: block;
    }
  }
}