.signUp {

  .steps {
    display: none;
    @include onTablet {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
      font-weight: 700;
    }
  }

  .step {
    color: $blue-1;
    font-size: 14px;
    text-transform: uppercase;
  }

  .title {
    font-size: 22px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .stageWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include onTablet {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      align-items: center;
    }
  }

  .optionWrapper {
    width: 100%;
  }

  .label {
    display: inline-block;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: $grey-3;
    margin-bottom: 12px;
  }

  .membersList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .memberItem {
    display: flex;
    flex-direction: column;
  }

  .input {
    background-color: transparent;
    border: none;
    outline: 1px solid $grey-7;
    border-radius: 14px;
    height: 48px;
    width: 100%;
    font-size: 16px;
    color: $dark;
    padding: 0 18px;
    box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
  }

  .actions {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .btnWrapper {
    @include onTablet {
      margin-left: auto;
    }
  }

  // align-items: center;
  // width: 100%;
  // @include onTablet {
  //   width: 400px;
  // }

  // .wrapper {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   color: $grey-3;
  //   gap: 48px;
  //   @include onTablet {
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: space-between;
  //   }
  // }

  // .remember {
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  // }
}
