.container {
  width: 100%;
  height: 100%;

  .wrapper {
    width: 100%;
    background-color: $white;
  }

  .head {
    @include flexContainer(row, center, space-between);
    padding: 16px;
    border-bottom: 1px solid $grey-9;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    gap: 16px;
    padding: 16px;
    &:not(:last-child) {
      border-bottom: 1px solid $grey-9;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
  }

  .name {
    font-weight: 700;
    text-transform: capitalize;
  }

  .date {
    color: $grey-3;
    font-size: 12px;
  }

  @include onTablet {
    padding: 24px 48px 24px 0;

    .wrapper {
      margin-left: auto;
      border-radius: 24px;
      max-width: 440px;
    }
  }

  @include onLaptop {
    padding: 16px 16px 16px 0;
  }
}