.wrapper {
  position: relative;
  border-radius: 14px;
}

.selectedBtn {
  @include flexContainer(row, center, space-between);
  gap: 8px;
  border-radius: 14px;
  background-color: $white;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid $grey-7;
}

.openDropBtn {
  position: relative;
  border-radius: 14px 14px 0 0;
}

.openDropBtn::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 1px;
  background-color: $grey-6;
  z-index: 3;
}

.options {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 2;
  border-radius: 0 0 14px 14px;
  padding: 8px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid $grey-7;
  border-left: 1px solid $grey-7;
  border-right: 1px solid $grey-7;
}

.option {
  padding: 12px 8px;
  transition: all 250ms ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover {
  font-weight: bold;
  color: $dark;
  background-color: rgba($blue-1-rgb, 0.12);
}