.employeesTable {

  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include onLaptop {
    .filters {
      display: none;
    }

    .list {
      padding-top: 24px;
    }
  }
}