.eventsList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    gap: 24px;
    text-align: center;
    color: $grey-7;
  }

  .image {
    width: 100%;
    max-height: 200px;
    width: auto;
    opacity: 0.5;
  }

  .item {
    padding: 24px;
    border-radius: 24px;
    background-color: $white;
  }

  @include onLaptop {
    flex-grow: 1;
    gap: 0;

    .item {
      padding: 12px 0;
    }
  }

  @include onDesktop {
    justify-content: space-between;
    .item {
      padding: 0;
    }
  }
}