.sidebar {
  display: none;
  @extend %shadow-s;

  @include onLaptop {
    position: fixed;
    z-index: 5;
    height: calc(100vh - 32px);
    top: 16px;
    background-color: $white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;
    transition: all 250ms ease-in-out;
  }

  .top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toggleBtn {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 8px;
    right: -18px;
    padding: 4px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $grey-3;
    color: $grey-3;
    transition: all 250ms ease-in-out;
    &:hover {
      color: $blue-1;
      border-color: $blue-1;
    }
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 10px;
    margin-top: 40px;
  }

  .link {
    @include flexContainer(row, center, flex-start);
    position: relative;
    color: $grey-3;
    font-weight: 500;
    transition: all 250ms ease-in-out;
    padding: 8px 12px;
    gap: 18px;
    border-radius: 10px;
    &:hover{
      color: $blue-1;
      background-color: rgba($blue-1-rgb, 0.1);
    }
  }

  .active {
    position: relative;
    color: $blue-1;
    background-color: rgba($blue-1-rgb, 0.1);
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 4px;
      border-radius: 2px;
      right: -16px;
      top: 0;
      background-color: $blue-1;
    }
  }
  
  .bottom {
    display: flex;
    flex-direction: column;
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 28px;
    color: $grey-3;
    &:hover {
      color: $blue-1;
    }
  }
}
