.button {
  @include flexContainer(row, center, center);
  position: relative;
  max-width: fit-content;
  color: $blue-1;
  gap: 4px;
  padding-bottom: 8px;
  transition: all 250ms ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    display: block;
    opacity: 0;
    transition: all 250ms ease-in-out;
    background-color: $blue-1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    color: $blue-3;
    &::after {
      background-color: $blue-3;
    }
  }

  &:disabled {
    color: $grey-1;
    &::after {
      opacity: 0;
    }
  }
}