.overlay {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  top: 0;
  left: 0;
  @include onTablet {
    background-color: rgba($blue-4-rgb, 0.16);
  }
}
