.options {
  position: relative;

  .list {
    @extend %shadow-xs;
    padding: 12px;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 2;
    border-radius: 14px;
    background-color: $grey-5;
  }

  .item {
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba($blue-1-rgb, 0.12);
    }
  }
}