.section {
  @include flexContainer(column, center, center);
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 24px;
  overflow: hidden;
  flex-grow: 1;
  @extend %shadow-s;

  .container {
    display: none;
  }

  .heading {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding: 0 24px;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .wrapper {
    width: 100%;
    padding: 48px 24px;
    @include flexContainer(column, center, center);
  }

  @include onLaptop {
    flex-direction: row;
    max-height: 800px;

    .container {
      @include flexContainer(column, center, space-between);
      min-height: 100%;
      width: 50%;
      align-self: stretch;
      padding-top: 48px;
      gap: 48px;
      background-color: $blue-1;
      color: $white;
    }

    .wrapper {
      width: 50%;
    }
  }

  @include onDesktop {
    max-width: 1600px;
    margin: 0 auto;
  }
}