.uploadApplications {
  @include flexContainer(row, center, flex-start);
  gap: 16px;

  .btn {
    @include squareSize(44px);
    @include flexContainer(row, center, center);
    border-radius: 14px;
    transition: all 250ms ease-in-out;

  }

  .btnFile {
    background-color: rgba($violet-rgb, 0.1);
    &:hover, &:active {
      background-color: rgba($violet-rgb, 0.3);
    }
  }

  .btnLink {
    background-color: rgba($aqua-rgb, 0.1);
    &:hover, &:active {
      background-color: rgba($aqua-rgb, 0.3);
    }
  }
}