.modal {
  
  .container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding: 24px;
    background-color: $white;
    @include onTablet {
      padding: 24px 48px;
    }
    @include onLaptop {
      width: 50%;
      height: fit-content;
      margin: auto;
      border-radius: 24px;
    }
  }

  .head {
    @include flexContainer(row, center, space-between);
  }

  .title {
    @extend %page-title;
  }
}
