.modal {
  
  .container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    background-color: $white;
    &::-webkit-scrollbar-thumb {
  
      background-color: rgba($blue-4-rgb, 0.16);
      border: 4px solid transparent;
      border-radius: 8px;
      background-clip: padding-box;  
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
    @include onTablet {
      padding: 24px 48px;
    }
    @include onLaptop {
      width: 50%;
      height: 90vh;
      margin: auto;
      border-radius: 24px;
    }
  }

  .head {
    @include flexContainer(row, center, space-between);
  }

  .title {
    @extend %page-title;
  }
}
