.selectImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;

  .title {
    font-size: 16px;
    font-weight: 700;
  }

  .text {
    text-align: center;
    color: $grey-3;
    font-size: 14px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px; 
    padding-top: 12px;
  }

  .item {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
  }

  .selected {
    border-color: $blue-1;
  }

  .upload {
    @include squareSize(48px);
    @include flexContainer(row, center, center);
    border-radius: 10px;
    overflow: hidden;
    border: 2px dashed $blue-1;
  }

  // @include onTablet {
    
  // }
}