.button {
  @include squareSize(48px);
  @include flexContainer(row, center, center);
  border-radius: 14px;
  transition: all 250ms ease-in-out;
  @extend %shadow-xs;

  &:hover{
    color: $blue-1;
  }

  &:active {
    outline: 1px solid $blue-1;
    color: $blue-1;
  }

  &:disabled {
    color: $grey-1;
    box-shadow: none;
    outline: none;
  }
}

.btnTonal {
  background-color: $grey-5;
}

.btnDef {
  background-color: $white;
}