.taskFilterForm {

  .container {
    padding: 32px 16px;
    border-top: 1px solid $grey-9;
  }

  .label {
    display: inline-block;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: $grey-3;
    margin-bottom: 12px;
  }

  .wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 64px 16px;
  }

  .block {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}