.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 48px;
  

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $grey-3;
    gap: 48px;
  }

  .remember {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .link {
    transition: all 250ms ease-in-out;

    &:hover {
      color: $blue-1;
    }
  }

  @include onTablet {
    width: 400px;

    .wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
