.taskInfo {
  @extend %shadow-s;
  background-color: $white;
  border-radius: 24px;

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    cursor: pointer;
  }

  .title {
    font-weight: 700;
  }

  .toggleBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    transition: all 250ms ease-in-out;

    &:hover{
      color: $blue-1;
    }
  }

  .info {
    border-top: 1px solid $grey-6;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .showInfo {
    display: flex;
  }

  .hideInfo {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .tracker {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: $grey-5;
    font-weight: 700;
    border-radius: 14px;
    padding: 14px;
  }

  .subtitle {
    font-size: 12px;
    color: $grey-10;
  }

  .assignee {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .userName {
    word-break: break-all;
  }

  .created {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: $grey-3;
    padding-top: 48px;
  }

  @include onLaptop {
    .main {
      padding-top: 24px;
    }
    
    .toggleBtn {
      display: none;
    }

    .info {
      border: none;
    }

    .hideInfo {
      display: flex;
    }
  }
}