.badge {
  @include flexContainer(row, center, center);
  width: fit-content;
  height: 18px;
  font-size: 12px;
  border-radius: 4px;
  padding: 0 6px;
  color: $grey-3;
  outline: 1px solid $grey-3;
}
