.label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  display: inline-block;
  padding-left: 6px;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.wrapper {
  position: relative;
  width: 100%;
}

.textarea {
  background-color: $white;
  border: none;
  outline: 1px solid;
  border-radius: 14px;
  height: 120px;
  width: 100%;
  font-size: 16px;
  color: $dark;
  resize: none;
  padding: 18px;
  @extend %shadow-xs;

  &::placeholder {
    font-size: 14px;
    color: $grey-3;
  }

  &:not(:disabled):focus {
    outline-color: $blue-1;
  }
}

.errorMsg {
  position: absolute;
  bottom: -14px;
  left: 0;
  display: inline-block;
  padding-left: 20px;
  font-size: 12px;
  color: $red-1;
}

.labelDef {
  .title {
    color: $grey-3;
  }
  .textarea {
    outline-color: $grey-7;
  }
}

.labelDis {
  .title {
    color: $grey-8;
  }
  .textarea {
    outline-color: $grey-1;
  }
}

.labelErr {
  .title {
    color: $red-1;
  }
  .textarea {
    outline-color: $red-1;
  }
}
