.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .item {
    padding: 24px;
    border-radius: 24px;
    background-color: $white;
   
    @include onLaptop {
      flex-direction: row;
    }
    @include onDesktop {
      gap: 48px;
    }
  }

  .itemMulti {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include onLaptop {
      display: none;
    }
  }

  .itemSingle {
    display: none;
    @include onLaptop {
      display: block;
    }
  }
} 
