.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  flex: 1;
  @include onTablet {
    flex-direction: row;
  }

  .stages {
    padding: 12px 24px;
    border-radius: 24px;
    background-color: $blue-1;
    color: $white;
    @include onTablet {
      padding: 36px 24px;
    }
  }

  .heading {
    display: none;
    @include onTablet {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stageItem {
    position: relative;
    display: none;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    @include onTablet {
      display: flex;
      opacity: 0.5;
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 12px;
        bottom: -26px;
        width: 2px;
        border-radius: 1px;
        height: 24px;
        background-color: $white;
        transform: translateX(-50%);
      }
    }
  }

  .active {
    display: flex;
    @include onTablet {
      opacity: 1;
    }
  }

  .circle {
    @include squareSize(24px);
    @include flexContainer(column, center, center);
    border-radius: 50%;
    background-color: rgba($white-rgb, 0.3);
    border: 1px solid $white;
    
  }

  .count {
    @include onTablet {
      display: none;
    }
  }

  .form {
    padding: 36px 24px;
    border-radius: 24px;
    background-color: $white;
    @extend %shadow-s;
     @include onTablet {
      flex-grow: 1;
    }
  }
}

.start {
  @include flexContainer(column, center, center);
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 24px;
  flex: 1;
  gap: 24px;
  text-align: center;
  padding: 24px;

  .image {
    width: 100%;
    height: auto;
    @include onTablet {
      width: 500px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 22px;
  }
}
