.taskPage {
  padding: 24px 12px;

  .link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    color: $blue-1;
  }

  // .loader {
  //   width: 100%;
  //   padding-top: 48px;
  //   display: flex;
  //   justify-content: center;
  // }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  .projectInfo {
    display: none;
  }

  @include onTablet {
    padding: 24px 48px;

    .container {
      display: grid;
      grid-template-columns: 1fr 200px;
    }

    // .loader {
    //   padding-top: 96px;
    // }

  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .projectInfo {
      display: block;
    }

    .container {
      grid-template-columns: 200px 1fr 200px;
    }
  }
}