.tasksList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .banner {
    padding: 12px;
    background-color: $grey-4;
    font-weight: 700;
    border-radius: 14px;
    text-align: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .placeholder {
    padding: 12px;
    color: $grey-2;
    text-align: center;
  }
}