.employeePage {
  padding: 24px 12px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  @include onTablet {
    padding: 24px 48px;
  }
  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      display: grid;
      grid-template-columns: 264px 1fr;
      gap: 24px;
    }
  }
}