.activityCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding-bottom: 24px;
  border-radius: 24px;
  background-color: $white;

  .tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
    padding: 24px 24px 0 24px;
    text-align: center;
  }

  .value {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
  }

  .subtitle {
    color: $grey-10;
    font-size: 14px;
  }

  @include onTablet {
    padding-bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .tasks {
      padding: 0;
      min-width: 380px;
    }

    .value {
      margin-bottom: 16px;
    }
  }

  @include onLaptop {
    flex-direction: column;
    padding: 8px 8px 24px 8px;
    align-items: stretch;

    .tasks {
      padding-top: 24px;
      min-width: auto;
    }
  }
}