.projectsPage {
  padding: 24px 12px;
  @include onTablet {
    padding: 24px 48px;
  }
  @include onLaptop {
    padding: 32px 32px 0 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    @include onTablet {
      padding-top: 48px;
      gap: 48px;
    }
    @include onLaptop {
      height: 100%;
      padding-top: 16px;
      flex-direction: row;
      gap: 32px;
      justify-content: flex-start;
    }
  }

  .wrapper {
    width: 100%;
  }

  .loader {
    @include flexContainer(row, center, center);
    width: 100%;
    height: 100%;
    padding-top: 48px;
    @include onTablet {
      padding-top: 96px;
    }
  }
  
  .placeholder {
     @include flexContainer(column, center, center);
     gap: 24px;
     color: $grey-1;
  }

  .image {
    width: 100%;
    opacity: 0.5;
    height: auto;
    @include onTablet {
      max-width: 400px;
    }
  }
}

