.profileForm {
  background-color: $white;
  border-radius: 24px;

  .user {
    padding: 24px;
    border-bottom: 1px solid $grey-9;
  }

  .wrapper {
    @include flexContainer(row, flex-start, space-between);
    margin-bottom: 16px;
  }

  .avatar {
    @include flexContainer(row, center, center);
    padding: 2px;
    border: 2px solid $blue-1;
    border-radius: 50%;
  }

  .main, .contact {
    padding: 32px 24px;
  }

  .main {
    
  }

  .contact {

  }
}