.editTaskPage {
  padding: 24px 12px;

  .container {
    padding-top: 24px;
  }

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include onTablet {
    padding: 48px;

    .container {
      padding-top: 48px;
    }
  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      padding-top: 32px;
    }
  }
}