.projectsPage {
  padding: 24px 12px;
  width: 100%;

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
    padding-top: 24px;
  }

  .filters {
    display: none;
  }

  @include onTablet {
    padding: 48px;
    
    .container {
      padding-top: 48px;
    }

    .filters {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      padding-top: 32px;
    }
  }
}

