.projectsPage {
  padding: 24px 12px;

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $grey-7;
  }

  .image {
    width: 100%;
    max-width: 400px;
    height: auto;
    opacity: 0.5;
  }

  .container {
    padding-top: 24px;
  }

  @include onTablet {
    padding: 48px;
    
    .container {
      padding-top: 48px;
    }
  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      padding-top: 32px;
    }
  }
}

