.avatar {
  @include flexContainer(row, center, center);
  border-radius: 50%;
  overflow: hidden;
  color: $white;
  background-color: $white;

  .image {
    object-fit: cover;
  }
}

.bordered {
  padding: 2px;
  border: 2px solid $blue-1;
  border-radius: 50%;
}

.wrapper {
  @include flexContainer(row, center, center);
  background-color: $blue-1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.avatarSmall {
  @include squareSize(24px);
  font-size: 10px;
}

.avatarDef {
  @include squareSize(30px);
  font-size: 12px;
}

.avatarLarge {
  @include squareSize(50px);
  font-size: 14px;
}

.avatarExtra {
  @include squareSize(64px);
  font-size: 16px;
}

