.section {

  .head {
    @include flexContainer(row, center, space-between);
    margin-bottom: 24px;
  }

  .title {
    @extend %heading-2;
  }

  @include onLaptop {
    .head {
      padding-top: 8px;
    }
  }

  @include onDesktop {
    padding: 16px 24px 24px 24px;
    .head {
      padding-top: 0;
    }
  }
}
