.taskAttachments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .label {
    display: inline-block;
    padding-left: 6px;
    font-weight: 700;
    text-transform: capitalize;
    color: $grey-3;
  }

  .buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .btn {
    @include squareSize(44px);
    @include flexContainer(row, center, center);
    border-radius: 14px;
    transition: all 250ms ease-in-out;
  }

  .btnFile {
    background-color: rgba($violet-rgb, 0.1);
    &:hover, &:active {
      background-color: rgba($violet-rgb, 0.3);
    }
  }

  .btnLink {
    background-color: rgba($aqua-rgb, 0.1);
    &:hover, &:active {
      background-color: rgba($aqua-rgb, 0.3);
    }
  }

  .input {
    @extend %shadow-xs;
    background-color: $white;
    border: none;
    outline: 1px solid $grey-7;
    border-radius: 14px;
    height: 48px;
    width: 100%;
    color: $dark;
    padding: 0 18px;

    &::placeholder {
      font-size: 14px;
      color: $grey-3;
    }
  }

  .wrapper, .linksList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .linkForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .buttonsActions {
    @include flexContainer(row, center, flex-end);
    gap: 24px;
  }

  .linkItem {
    @include flexContainer(row, center, space-between);
    gap: 8px;
    color: $aqua;
  }

  .deleteBtn {
    display: flex;
    color: $grey-7;
  }

  // .placeholder {
  //   display: inline-block;
  //   padding-left: 48px;
  //   color: $grey-7;
  // }

  // .linkItem {

  //   padding-left: 48px;
  // }

  // .link {
  //   flex-grow: 1;
  //   color: $aqua;
  // }



  // .btnWrapper {
  //   @include flexContainer(row, center, flex-end);
  //   gap: 16px;
  // }

  // .btnAction {
  //   color: $blue-1;
  //   padding: 8px 16px;
  //   text-transform: capitalize;
  //   transition: all 250ms ease-in-out;
  //   &:hover {
  //     font-weight: 700;
  //   }
  // }

  // .previewList {
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 24px;
  // }

  // .imageItem {
  //   width: calc(100% / 2 - 24px);
  //   height: 120px;
  //   position: relative;
  //   outline: 1px solid red;
  // }

  // .uploadImage {
  //   @include flexContainer(row, center, center);
  //   position: relative;
  //   cursor: pointer;
  //   padding: 48px;
  // }

  // .inputFile {
  //   display: none;
  // }
}