.dashboardPage {
  padding: 24px 12px;
  width: 100%;

  .container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  @include onTablet {
    padding: 48px;

    .container {
      padding-top: 48px;
    }
  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      padding-top: 32px;
    }
  }

  @include onDesktop {
    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 24px;
    }
  }
}
