.eventsList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    color: $grey-7;
  }

  .image {
    width: 100%;
    max-height: 200px;
    width: auto;
    opacity: 0.5;
  }
}