.projectCard {
  @extend %shadow-xs;
  border-radius: 24px;
  background-color: $white;
  @include onTablet {
    display: flex;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-bottom: 1px solid $grey-9;
    @include onTablet {
      width: 50%;
      border-bottom: none;
      border-right: 1px solid $grey-9;
    }
  }

  .head {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .block {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .deadline {
    font-size: 14px;
    color: $grey-10;
  }

  .title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .wrap {
    overflow-wrap: break-word;
  }

  .info {
    @include flexContainer(row, center, space-between);
    color: $grey-3;
    font-weight: 500;
    font-size: 14px;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .created {
    display: none;
    @include onTablet {
      display: inline-block;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    @include onTablet {
      width: 50%;
      justify-content: space-between;
    }
  }

  .top {
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    @include onTablet {
      text-align: start;
    }
  }

  .data {
    @include flexContainer(row, flex-start, space-between);
    text-align: center;
    @include onTablet {
      padding: 0;
    }
  }

  .stretch {
    height: 100%;
  }

  .subtitle {
    font-size: 14px;
    color: $grey-10;
    margin-bottom: 4px;
  }

  .value {
    @include flexContainer(row, center, center);
    font-weight: 700;
    min-height: 28px;
  }
}
