.tabsSlide {
  padding: 4px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  background-color: $grey-6;
  max-width: fit-content;

  .item {
   @include flexContainer(row, center, center);
    padding: 0 24px;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    width: 50%;
  }

  .active {
    font-weight: 700;
    color: $white;
    background-color: $blue-1;
  }

  @include onMobile {
    .item {
      padding: 0 48px;
    }
  }
}