.passwordInputField {
  width: 100%;
  position: relative;

  .btnToggle {
    display: flex;
    position: absolute;
    top: 50%;
    right: 18px;
  }

  .line {
    position: absolute;
    z-index: 2;
    display: block;
    left: 50%;
    width: 2px;
    height: 24px;
    background-color: $grey-3;
    transform: rotate(45deg);
  }
}