.dragCard {
  padding: 24px;
  border-radius: 24px;
  background-color: $white;
  margin: 12px 0;
  cursor: grab;

  .name {
    font-weight: 700;
    margin-bottom: 36px;
  }

  .wrapper {
    @include flexContainer(row, center, space-between);
  }
}
