.dragCard {
  padding: 24px;
  border-radius: 24px;
  background-color: $white;
  margin: 12px 0;
  cursor: grab;

  .order {
    font-size: 12px;
    color: $grey-10;
    margin-bottom: 8px;
  }

  .name {
    font-weight: 700;
    margin-bottom: 36px;
  }

  .wrapper {
    @include flexContainer(row, center, space-between);
  }

  .info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .deadline {
    padding: 8px;
    border-radius: 8px;
    color: $grey-3;
    background-color: $grey-5;
  }
}
