.infoPortalStatistic {
  padding: 24px;
  border-radius: 24px;
  background-color: $white;

  .title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .wrapper {
    @include flexContainer(row, center, space-around);
  }

  .amount {
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    margin-bottom: 8px;
  }
  
  .dynamic {
    font-size: 12px;
    color: $green-2;
  }

  .subtitle {
    text-align: center;
    margin-top: 24px;
    color: $grey-10;
  }

  @include onTablet {
    .wrapper {
      justify-content: space-between;
    }

    .subtitle {
      text-align: start;
    }
  }
}