.userInfo {
  background-color: $white;
  border-radius: 24px;

  .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 24px;
    border-bottom: 1px solid $grey-9;
  }

  .name {
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    text-transform: capitalize;
  }

  .position {
    font-weight: 200;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .title {
    font-weight: 700;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    color: $grey-10;
  }

  .block {
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: $white;
    outline: 1px solid $grey-7;
    border-radius: 14px;
    height: 48px;
    width: 100%;
    text-transform: capitalize;
  }
}