.picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: $grey-3;

  .label {
    display: inline-block;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
  }

  .btnPicker {
    @include flexContainer(row, center, space-between);
    @extend %shadow-xs;
    background-color: $white;
    border: none;
    outline: 1px solid;
    border-radius: 14px;
    height: 48px;
    width: 100%;
    font-size: 16px;
    color: $dark;
    padding: 0 18px;
    outline-color: $grey-7;
  }
}
