.events {
  .head {
    @include flexContainer(row, center, space-between);
    margin-bottom: 12px;
  }

  .title {
    @extend %heading-2;
  }

  .link {
    @extend %secondary-action;
  }

  @include onLaptop {
    background-color: $white;
    border-radius: 24px;
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    
    .head {
      margin: 0;
    }
  }

  @include onDesktop {
    .head {
      margin-bottom: 24px;
    }
  }
}