.tasksActions {
  display: flex;
  flex-direction: column;
  gap: 24px; 
  @include onTablet {
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    @include onTablet {
      width: 33%;
    }
  }

  .actions {
    @include flexContainer(row, center, space-between);
      @include onTablet {
      width: 66%;
    }
  }

  .view {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

