.taskPage {
  padding: 24px 12px;
  width: 100%;

  .container {
    padding-top: 24px;
  }

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content, .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include onTablet {
    padding: 48px;

    .container {
      padding-top: 48px;
    }
  }

  @include onLaptop {
    padding: 32px 0 0 32px;

    .container {
      padding-top: 32px;
    }

    .content {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 24px;
    }
  }
}