.eventCard {
  flex-grow: 1;
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 24px 24px 24px 38px ;
  border-radius: 24px;

  .line {
    position: absolute;
    top: 50%;
    left: 24px;
    height: calc(100% - 48px);
    width: 2px;
    border-radius: 2px;
    transform: translateY(-50%);
  }

  .wrapper {
    @include flexContainer(row, center, space-between);
    gap: 16px;
    padding: 4px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .name {
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: $grey-3;
  }

  .date {
    color: $grey-10;
  }
}