.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .imgWrapper {
    margin: 0 auto;
    position: relative;
    @include squareSize(96px);
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .btnPlus {
    @include flexContainer(row, center, center);
    position: absolute;
    z-index: 5;
    bottom: -6px;
    right: -6px;
    background-color: $white;
    color: $blue-1;
    border-radius: 50%;
    outline: 1px dashed $blue-1;
  }

  .btnWrapper {
    @include flexContainer(row, center, center);
  }

  @include onLaptop {
    display: grid;
    grid-template-columns: 280px 1fr;

    .hidden {
      display: block;
    }

    .container {
      max-width: 400px;
      gap: 24px;
    }
  }
}