.taskDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .head {
    @include flexContainer(row, center, space-between);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .title {
    font-weight: 700;
  }

  .wrapper {
    @extend %shadow-s;
    background-color: $white;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .linksList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .linkItem {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: rgba($aqua-rgb, 0.1);
    padding: 8px 16px;
    color: $aqua;
    font-weight: 500;
    text-transform: capitalize;
    max-width: fit-content;
  }

  .filesList {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .fileItem {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
  }
}