.taskDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .head {
    @include flexContainer(row, center, space-between);
  }

  .title {
    font-weight: 700;
  }

  .wrapper {
    @extend %shadow-s;
    background-color: $white;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}