.pagination {
  padding-top: 24px;
  @include flexContainer(row, center, flex-end);

  .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $white;
    border-radius: 14px;
    padding: 14px;
  }

  .btnArrow {
    display: flex;
    color: $blue-1;
    &:disabled {
      color: $grey-1;
    }
  }
}
