.emlpoyeeCard {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: $white;
  border-radius: 24px;
  padding: 24px;

  .user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .name {
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: 700;
    word-break: break-all;
  }

  .position {
    font-weight: 200;
  }

  @include onLaptop {
    flex-direction: column;
    background-color: $grey-5;

    .user {
      align-items: center;
      text-align: center;
    }
    
    .user, .name, .position, .badge {
      width: 100%;
    }
  }
}
