.account {
  position: relative;
  display: inline-block;

  .btnOpen {
    height: 48px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    background-color: $white;
    border-radius: 14px;
    padding: 0 12px;
    transition: all 250ms ease-in-out;
    @extend %shadow-s;

    &:hover {
      color: $blue-1;
    }
  }

  .name {
    display: none;
    text-transform: capitalize;
    @include onTablet {
      display: inline-block;
    }
  }

  .active {
    @include onTablet {
      border-radius: 14px 14px 0 0;
    }
  }

  .list {
    width: 120px;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 2;
    background-color: $white;
    border-radius: 14px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include onTablet {
      width: 100%;
      top: 48px;
      border-radius: 0 0 14px 14px;
    }
  }

  .item {
    padding: 12px 8px;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
      font-weight: bold;
      background-color: rgba($blue-1-rgb, 0.12);
    }
  }

  .action {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}