.employeesGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;  

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include onLaptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
