.tasks {

  .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $grey-7;
  }

  .image {
    width: 100%;
    max-width: 400px;
    height: auto;
    opacity: 0.5;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
  }
}
