.section {
  @include flexContainer(column, center, center);
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
  -webkit-box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
  -moz-box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
  @include onLaptop {
    flex-direction: row;
  }
  @include onDesktop {
    max-width: 1600px;
  }

  .container {
    display: none;
    @include onLaptop {
    @include flexContainer(column, center, space-between);
      min-height: 100%;
      width: 50%;
      align-self: stretch;
      padding: 48px 24px;
      gap: 48px;
      background-color: $blue-1;
      color: $white;
    }
  }

  .heading {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .wrapper {
    width: 100%;
    padding: 48px 24px;
    @include flexContainer(column, center, center);
    @include onTablet {
      padding: 96px 24px;
    }
    @include onLaptop {
      width: 50%;
    }
  }

  .title {
    @extend %heading-2;
    text-align: center;
    margin-bottom: 48px;
  }

  .link {
    text-align: center;
    margin-top: 24px;
    font-weight: 500;
    color: $blue-1;
    transition: all 250ms ease-in-out;
    &:hover {
      color: $blue-2;
    }
  }
}
