.projectInfo {
  @extend %shadow-s;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  background-color: $white;

  .edit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title {
    font-weight: 700;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .subtitle {
    font-size: 12px;
    color: $grey-10;
  }

  .created {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: $grey-3;
  }
}