.projectInfo {
  @extend %shadow-s;
  border-radius: 24px;
  background-color: $white;

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  .image {
    border-radius: 10px;
    overflow: hidden;
  }

  .toggleBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: $grey-10;
    transition: all 250ms ease-in-out;

    &:hover{
      color: $blue-1;
    }
  }

  .details {
    border-top: 1px solid $grey-6;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
  }

  .showDetails {
    display: flex;
  }

  .hideDetails {
    display: none;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title {
    font-weight: 700;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .subtitle {
    font-size: 12px;
    color: $grey-10;
  }

  .created {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: $grey-3;
  }

  @include onLaptop {
    .toggleBtn {
      display: none;
    }

    .details {
      border: none;
    }

    .hideDetails {
      display: flex;
    }
  }
}