.title {
  @extend %heading-2;
  text-align: center;
  margin-bottom: 48px;
}

.link {
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
  color: $blue-1;
  transition: all 250ms ease-in-out;
  &:hover {
    color: $blue-2;
  }
}
