.employeeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  padding: 24px;
  background-color: $white;

  .user {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .name {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 4px;
    word-break: break-all;
  }

  .email {
    color: $grey-10;
  }

  .subtitle {
    margin-bottom: 4px;
    font-size: 12px;
    color: $grey-10;
  }

  .age {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .profession {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    @include flexContainer(row, center, center);
    @include squareSize(48px);
    border-radius: 14px;
    transition: all 250ms ease-in-out;
    
    &:hover {
      background-color: rgba($blue-1-rgb, 0.1);
    }
  }

  .dropdown {
    display: none;
  }

  @include onLaptop {
    flex-direction: row;
    justify-content: space-between;

    .name {
      width: 240px;
    }

    .age {
      align-items: flex-start;
      gap: 24px;
    }

    .profession {
      width: 200px;
      gap: 24px;
    }

    .options {
      display: none;
    }

    .dropdown {
       @include flexContainer(row, center, center);
    }
  }

  @include onDesktop {
    .name {
      width: 360px;
    }

    .profession {
      width: 300px;
    }
  }
}