%heading-2 {
  font-weight: bold;
  font-size: 22px;
}

%shadow-s {
  box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
  -webkit-box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
  -moz-box-shadow: 0px 6px 58px 0px rgba($grey-2-rgb,0.4);
}
