%heading-2 {
  font-weight: 700;
  font-size: 18px;
  
  @include onDesktop {
    font-size: 22px;
  }
}

%page-title {
  font-weight: 700;
  font-size: 24px;
  &::first-letter {
    text-transform: uppercase;
  }
  @include onTablet {
    font-size: 28px;
  }
}

%shadow-s {
  box-shadow: 0px 6px 58px rgba($grey-2-rgb, 0.1036);
  -webkit-box-shadow: 0px 6px 58px rgba($grey-2-rgb, 0.1036);
  -moz-box-shadow: 0px 6px 58px rgba($grey-2-rgb, 0.1036);
}

%shadow-xs {
  box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(184,200,224,1);
}

%secondary-action {
  @include flexContainer(row, center, center);
  position: relative;
  max-width: fit-content;
  color: $blue-1;
  gap: 4px;
  padding: 8px 0;
  transition: all 250ms ease-in-out;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2px);
    height: 2px;
    border-radius: 1px;
    display: block;
    opacity: 0;
    transition: all 250ms ease-in-out;
    background-color: $blue-1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    color: $blue-3;
    &::after {
      background-color: $blue-3;
    }
  }

  &:disabled {
    color: $grey-1;
    &::after {
      opacity: 0;
    }
  }
}

%primary-action {
  @include flexContainer(row, center, center);
  background-color: $blue-1;
  color: $white;
  border-radius: 14px;
  font-weight: bold;
  gap: 8px;
  height: 42px;
  padding: 0 16px;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 6px 6px 0px rgba($blue-1-rgb, 0.26);
  -webkit-box-shadow: 0px 6px 6px 0px rgba($blue-1-rgb,0.26);
  -moz-box-shadow: 0px 6px 6px 0px rgba($blue-1-rgb,0.26);

  &:hover {
    background-color: $blue-2;
    box-shadow: 0px 12px 12px 0px rgba($blue-1-rgb, 0.42);
    -webkit-box-shadow: 0px 12px 12px 0px rgba($blue-1-rgb,0.42);
    -moz-box-shadow: 0px 12px 12px 0px rgba($blue-1-rgb,0.42);
  }

  &:active {
    background-color: $blue-3;
  }

  &:disabled {
    background-color: $grey-1;
    box-shadow: none;
  }

  @include onTablet {
    height: 48px;
    padding: 0 24px;
  }
}