// COLORS

$white: #FFFFFF;
$white-rgb: rgb(255, 255, 255);

$dark: #0A1629;
$dark-rgb: 10, 22, 41;

$blue-1: #3F8CFF;
$blue-1-rgb: rgb(63, 140, 255); 
$blue-2: #3A81EB;
$blue-3: #1F6DE0;
$blue-4: #2155A3;
$blue-4-rgb: rgb(33, 85, 163);

$grey-1: #CED5E0;
$grey-1-rgb: 206, 213, 224;
$grey-2: #C4CBD6;
$grey-2-rgb: rgb(196, 203, 214);
$grey-3: #7D8592;
$grey-3-rgb: rgb(125, 133, 146);
$grey-4: #E6EDF5;
$grey-5: #F4F9FD;
$grey-6: #E6EBF5;
$grey-7: #D8E0F0;
$grey-8: #B2B8C2;

$green-1: #00D097;
$green-1-rgb: rgb(0, 208, 151);
$green-2: #0AC947;

$red-1: #F65160;

$yellow-1: #FFBD21;

// BREAKPOINTS
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 375px;

//TRANSITION
$transition: all 250ms easy-in-out;