@import './variables';
@import './placeholders';
@import './mixins';
@import './typografy';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: $dark;
  background-color: $grey-5;
  line-height: 1;
  font-size: 14px;
  @include onTablet {
    font-size: 16px;
  }
}

.appLayout {
  @include onLaptop {
    min-height: 100vh;
    display: flex;
    padding: 16px;
  }
}

.appMain {
  width: 100%;
}

.loadingPage {
  @include flexContainer(rox, center, center);
  min-height: 100vh;
  width: 100%;
}

.react-datepicker {
  border-radius: 14px !important;
  overflow: hidden;
  color: $dark !important;
  font-family: inherit !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header, .react-datepicker__day {
  color: $dark !important;
}

.react-datepicker__day--selected {
  background: $blue-1 !important;
}

.react-datepicker__day--disabled {
  color: $grey-2 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: $white !important;
}
