@import './variables';
@import './placeholders';
@import './mixins';
@import './typografy';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: $dark;
  background-color: $grey-5;
  line-height: 1;
  font-size: 14px;
}

.appLayout {
  @include onLaptop {
    min-height: 100vh;
    display: flex;
    padding: 16px;
  }
}

.expanded {
  width: 200px;
  border-radius: 24px;
}

.expanded + .appMain {
  @include onLaptop {
    padding-left: 200px;
  }
}

.minified {
  width: auto;
  border-radius: 14px;
}

.minified + .appMain {
  @include onLaptop {
    padding-left: 80px;
  }
}

.appMain {
  width: 100%;
}

.loadingPage {
  @include flexContainer(rox, center, center);
  min-height: 100vh;
  width: 100%;
}

.svg-min-size {
  min-width: 24px;
  min-height: 24px;
}


// DATEPICKER
.react-datepicker {
  @extend %shadow-xs;
  border-radius: 14px !important;
  border: 1px solid $grey-7 !important;
  overflow: hidden;
  color: $dark !important;
  font-family: inherit !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header, .react-datepicker__day {
  color: $dark !important;
}

.react-datepicker__header {
  padding: 16px 0 !important;
  background-color: $grey-5 !important;
}

.react-datepicker__navigation {
  top: 8px !important;
}

.react-datepicker__day--today {
  color: $blue-1 !important;
}

.react-datepicker__day--selected {
  color: $white !important;
  background: $blue-1 !important;
}

.react-datepicker__day--disabled {
  color: $grey-2 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: $white !important;
}

.react-datepicker__month-select, .react-datepicker__year-select {
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: 1px solid $blue-1;
  }
}

// TIMEPICKER
.rdtOpen .rdtPicker, .rdtTime {
  @extend %shadow-xs;
  top: 54px;
  right: 0;
  margin: 0;
  padding: 0;
  border-radius: 14px;
  overflow: hidden;
  min-width: 160px;
  color: $grey-3;
  max-height: 80px;

  .rdtCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80px;
    gap: 4px;

    .rdtBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
    } 
  }
}

// CALENDAR

.fc .fc-toolbar.fc-header-toolbar {
  padding-top: 16px;
}

.fc .fc-scrollgrid {
  thead {
    display: none;
  }
}

.fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc table, .fc .fc-toolbar-title {
  font-size: inherit !important;
}

.fc .fc-button-primary {
  background-color: $white;
  border: none;
  outline: none;
  color: $blue-1;

  &:hover, &:active, &:focus, &:not(:disabled):active {
    outline: none;
    color: $blue-1;
    background-color: transparent;
    box-shadow: none;
  }
}

.fc .fc-col-header-cell-cushion {
  padding: 12px;
}

.fc {
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $grey-6;
    }
    td {
      border-left: 1px solid $grey-6;
    }
  }
}

.fc .fc-daygrid-event-harness-abs {
  max-width: 100%;
}

.fc .fc-highlight {
  background-color: $white;
}

.fc .fc-popover {
  max-width: 320px;
}


// QUILL
.quill {
  font-family: inherit !important;
}

.ql-toolbar.ql-snow {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  border-radius: 24px 24px 0 0;
  padding: 12px 24px !important;
  background-color: $white;
  border: none !important;
  border-bottom: 1px solid $grey-9 !important;
}

.ql-container.ql-snow {
  border-radius: 0 0 24px 24px !important;
  background-color: $white;
  border: none !important;
  height: auto !important;
}

.ql-editor {
  height: 400px !important;
}