.folderCard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  background-color: $white;

  .link {
    font-weight: 700;
    font-size: 16px;
    transition: all 250ms ease-in-out;
    &:hover {
      color: $blue-1;
    }
  }

  .wrapper {
    @include flexContainer(row, flex-start, space-between);
  }

  .pages {
    font-size: 12px;
    color: $grey-10;
  }
}