.label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  display: inline-block;
  padding-left: 6px;
  font-weight: 700;
  text-transform: capitalize;
}

.wrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.iconLeft {
  left: 10px;
}

.iconRight {
  right: 10px;
}

.input {
  background-color: $white;
  border: none;
  outline: 1px solid;
  border-radius: 14px;
  height: 48px;
  width: 100%;
  color: $dark;
  @extend %shadow-xs;

  &::placeholder {
    font-size: 14px;
    color: $grey-3;
  }

  &:not(:disabled):focus {
    outline-color: $blue-1;
  }
}

.errorMsg {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: inline-block;
  padding-left: 6px;
  font-size: 12px;
  color: $red-1;
  &::first-letter {
    text-transform: capitalize;
  }
}


.labelDef {
  .title {
    color: $grey-3;
  }
  .input {
    outline-color: $grey-7;
  }
}

.labelDis {
  .title {
    color: $grey-8;
  }
  .input {
    color:  $grey-1;
    outline-color: $grey-1;
  }
}

.labelErr {
  .title {
    color: $red-1;
  }
  .input {
    outline-color: $red-1;
  }
}
