.calendarPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 12px;
  width: 100%;

  @include onTablet {
    padding: 24px 48px;
  }

  @include onLaptop {
    padding: 32px 0 0 32px;
  }
}
