.container {
  margin-left: auto;
  padding: 16px;

  .wrapper {
    height: 100%;
    min-width: 420px;
    border-radius: 24px;
    background-color: $white;
  }

  .head {
    @include flexContainer(row, center, space-between);
    padding: 32px 16px;
    border-bottom: 1px solid $grey-9;
  }

  .title {
    font-weight: 700;
    font-size: 22px;
  }

  .filters {
    padding: 32px 16px;
  }
}