.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 48px;
  padding-top: 48px;
  @include onTablet {
    gap: 24px;
  }
  @include onLaptop {
    padding-top: 24px;
  }

  .pickers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include onTablet {
      flex-direction: row;
      gap: 24px;
    }
  }

  .optionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .label {
    display: inline-block;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    color: $grey-3;
  }
}

.preloader {
  padding-top: 48px;
  @include flexContainer (row, center, center);
}